<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render("shared/back", back_path: feature_toggles_path) %>

    <%= form_for(@feature_toggle) do |f| %>
      <h1 class="govuk-heading-l">
        <%= t(".heading") %>
      </h1>

      <div class="govuk-form-group <%= "govuk-govuk-form-group--error" if @feature_toggle.errors[:key].any? %>">
        <% if @feature_toggle.errors[:key].any? %>
          <span class="govuk-error-message"><%= @feature_toggle.errors[:key].join(", ") %></span>
        <% end %>

        <%= f.label :key, t(".fields.key"), class: "govuk-label" %>
        <%= f.text_field :key, class: "govuk-input", width: "one-half" %>
      </div>

      <div class="govuk-form-group govuk-checkboxes--small <%= "govuk-form-group--error" if @feature_toggle.errors[:active].any? %>">
        <% if @feature_toggle.errors[:key].any? %>
          <span class="govuk-error-message"><%= @feature_toggle.errors[:key].join(", ") %></span>
        <% end %>

        <div class="govuk-checkboxes__item">
          <%= f.check_box :active, class: "govuk-checkboxes__input " %>
          <%= f.label :active, t(".fields.active"), class: "govuk-label govuk-checkboxes__label" %>
        </div>
      </div>

      <div class="govuk-form-group">
        <%= f.submit t(".submit"), class: "govuk-button" %>
      </div>
    <% end %>
  </div>
</div>
